.club__glavnay{
    background-image: url(../../images/club/club.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 632px;
    width: 100%;
}

.club__title{
    margin: 0;
    font-family: "Inter";
    font-size: 64px;
    font-weight: 500;
    line-height: 77.45px;
    text-align: left;
    color: white;
    max-width: 1155px;
    padding-top: 243px;
    margin-left: 34%;
}
.club__history{
    margin-left: 50px;
    max-width: 1139px;
    padding-bottom: 70px;
}

.club__history-tile{
    margin: 0;
    font-family: "Inter";
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;

}

.club__history-paragraph{
    margin: 0;
    margin-top: 49px;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;

}

.club__history-paragraph:last-child{
    margin-top: 30px;
}

.club__fitchi{
    padding-top: 59px;
    background: linear-gradient(180deg, #000000 0%, #230606 63%, #611110 100%);
}

.club__years{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 128px);
}

.club__years-container{
    display: flex;
    width: calc(100% - 377px);
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.club__title-year{
    margin: 0;
    font-family: "Inter";
    font-size: 135px;
    font-weight: 800;
    line-height: 163.38px;
    color: rgba(226, 39, 38, 1);
}

.club__subtitle-year{
    margin: 0;
    font-family: "Inter";
    font-size: 48px;
    font-weight: 800;
    line-height: 58.09px;
    color: white;
}

.club__gora{
    background-image: url(../../images/club/gora.png);
    width: 318px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.club__text-container{
    margin: 0 auto;
    width: 96%;
    color:white;
    border: 1px solid rgba(174, 174, 174, 1);
    margin-top: 74px;
    display: flex;
}

.club__team{
    width: 50%;
    border-right: 3px solid rgba(174, 174, 174, 1);
    padding: 43px 28px;
}

.club__team:last-child{
    border:none
}

.club__team-img{
    width: 92%;
}

.club__team-text{
    margin:0;
    margin-top: 52px;
    font-family: "Inter";
    font-size: 26px;
   font-weight: 400;
    line-height: 31.47px;
}

.club__team-text:first-child{
    margin-top: 2px;
}

.cubok{
    margin: 0 auto;
    width: 96%;
    margin-top: 172px;
    display: flex;
}

.cubok__img{
    width: calc(100%/2 - 40px);
}

.cubok__text{
    list-style: none;
}
.cubok__item{
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.cubok__krug{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: rgba(226, 39, 38, 1);
}

.cubok__award{
    color: white;
    margin: 0;
    font-family: "Inter";
    font-size: 26px;
    font-weight: 400;
    line-height: 31.47px;
    margin-left: 10px;
}

.trener{
    background-color: black;
}

.trener__container{
    margin: 0 auto;
    width: 80%;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.trener__name{
    margin: 0;
    color: white;
    font-family: Inter;
    font-size: 26px;
    font-weight: 400;
    line-height: 31.47px;
    margin-top: 10px;
}

.trener__info{
    max-width: 40%;
    text-align: center;
}
.trener__opinion{
    width: 50%;
}
.trener__title{
    color: white;
    margin: 0;
    font-family: "Inter";
    font-size: 48px;
    font-weight: 800;
    line-height: 58.09px;
}
.trener__text{
    width: 100%;
    background-color: white;
    padding: 27px;
    border-radius: 41px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.05px;
}

.players{
    margin: 0 auto;
    margin-top: 100px;
    width: 96%;
    margin-bottom: 100px;
}

.players__title{
    margin: 0;
    font-family: "Inter";
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;   
}

.palyers__grid{
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:78px;
}

.players__img{
    max-height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.players__text{
    font-family: "Inter";
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-align: center;
}
@media (max-width: 1300px){
    .club__team-text{
        font-size: 16px;
    }
    .cubok__krug{
        width: 30px;
        height: 30px;
    }
    .cubok__award{
        font-size: 16px;
    }
    .trener__name{
        font-size: 16px;
    }
    .trener__text{
        font-size: 16px;
    }
    .players__text{
        font-size: 16px;
    }
}